# Sapient Data Science Test Project

Kendall McNeil
January 2024

# A. Project Description

In a public health study, participants were enrolled from communities for physical exams, blood
tests, and were followed up for years with disease outcomes. We are interested in investigating
blood biomarkers for a prevalent and detrimental disease – diabetes.
A portion of the participants were already diagnosed to have diabetes at the time of enrollment
(baseline). These participants have “existing_diabetes” outcome as 1. Some participants later
on developed diabetes during the follow up period of the study. We call these new
development of diabetes “incident_diabetes”. For participants with incident diabetes,
“diabetes_time” indicates the number of years it took to develop diabetes since baseline
enrollment. For participants with existing diabetes, “diabetes_time” is negative and indicates
the number of years the diagnosis of diabetes was made prior to baseline enrollment. For
participants without diabetes at any time, “diabetes_time” indicates the number of years of
follow up time since enrollment.
Demographic variables include age, sex, and body-mass-index (BMI).
Blood biomarkers are denoted as “mtb_*”. When there is a missing value for blood biomarkers,
it is usually due to the extremely low abundance of that biomarker in blood samples which
could be below the lower limit of detection.

# Question 1

*Which blood biomarkers are associated with incident diabetes? 

Each of these biomarkers can potentially be a risk or protective factor for diabetes development. Identifiying these biomarkers will help understand the pathways and processes involved in diabetes development thus novel therapeutics can be developed.

Hints: 
(1) Investigate each blood biomarker individually with covariates and use p-values to justify your findings.

(2) For blood biomarkers, use transformation that is robust when there are outliers present. 

(3) Demonstrate your findings with visualization.

# Question 2

*How can we use blood biomarkers to predict the risk of developing incident diabetes?

Hints: (1) Select the relevant blood biomarkers as features for your classifier. Keep in mind that in clinical settings, it is always difficult to implement a screening test when there are a lot of biomarkers to be measured. 

(2) Select and train a machine learning model to make predictions
(3) Evaluate your predictive model.

# B. Setup

In [5]:
import pandas as pd
import numpy as np

In [6]:
pd.read_csv('test_project_data.csv')

,subject_id,mtb_0018261,mtb_0018266,mtb_0018325,mtb_0018326,mtb_0018327,mtb_0018351,mtb_0018362,mtb_0018470,mtb_0018509,...,mtb_2127305,mtb_2129124,mtb_2129210,mtb_2129554,BMI,age,sex,prevalent_diabetes,incident_diabetes,diabetes_followup_time
0,sbj_0000,5885.011,15177.950,19653.310,12611.670,9042.063,NaN,60124.56,9552.881,NaN,...,NaN,NaN,22112.25,NaN,18.664268,33.81,male,0.0,0.0,14.77
1,sbj_0001,7624.425,10901.940,12129.360,9336.460,21680.930,NaN,83700.80,15068.120,NaN,...,NaN,NaN,NaN,NaN,28.175977,68.56,male,0.0,0.0,14.77
2,sbj_0002,7220.400,18086.690,23707.550,7344.697,26314.650,NaN,82482.38,13911.300,NaN,...,15185.790,NaN,19425.35,NaN,22.971959,55.68,male,0.0,0.0,14.77
3,sbj_0003,6797.486,12364.850,17775.760,25836.150,30563.140,NaN,92839.12,11690.130,NaN,...,NaN,NaN,NaN,NaN,21.960370,43.89,female,0.0,0.0,14.78
4,sbj_0004,NaN,19046.330,18701.060,14137.270,27020.920,NaN,85453.69,9579.896,NaN,...,5318.547,NaN,NaN,NaN,40.454949,47.76,male,0.0,0.0,14.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8286,sbj_8286,10282.730,7236.875,6135.741,NaN,NaN,NaN,60874.80,21588.620,NaN,...,NaN,NaN,NaN,NaN,22.170880,42.02,female,0.0,0.0,14.73
8287,sbj_8287,9334.973,29637.440,6819.376,NaN,NaN,NaN,61606.96,20951.260,NaN,...,NaN,NaN,NaN,NaN,33.632810,41.54,male,0.0,0.0,14.73
8288,sbj_8288,10036.630,35198.070,NaN,NaN,NaN,NaN,69348.97,20910.720,NaN,...,NaN,NaN,NaN,NaN,25.497120,58.15,female,0.0,0.0,14.73
8289,sbj_8289,8932.527,5270.621,6938.539,NaN,NaN,NaN,67607.01,14955.190,NaN,...,NaN,NaN,23844.68,NaN,24.075310,45.84,male,0.0,0.0,14.73
8290,sbj_8290,20351.350,NaN,10235.070,NaN,NaN,NaN,102739.30,55205.980,NaN,...,NaN,NaN,NaN,NaN,32.039110,42.24,female,0.0,0.0,14.82